.button {
  border: none;
  padding: 15px;
  width: 250px;
  color: white;
  background-image: linear-gradient(to right, #478fea, #02e2c1);
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 80% !important;
    padding: 15px !important;
    border-radius: 30px;
    background-color: white !important;
    color: black !important;
    margin-top: 20px;
    background-image: none !important;
    font-size: 14px !important;
    cursor: pointer;
  }
}
